<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Edit City</title>
</head>
<body>

<center>
    <h2 style="margin-top: 1%">CITY MANAGE</h2>
    <h4 style="color: cornflowerblue">Edit City</h4>
</center>
<div style="width: 70%;height: 75%; margin-left: 15% ">

    <form th:action="@{/edit}" th:object="${city}" method="post">
        <input th:type="hidden" name="id" th:field="*{cityId}">
        <div class="form-group">
            <label>City Name:</label>
            <input type="text" th:field="*{cityName}" class="form-control">
            <p th:if="${#fields.hasErrors('cityName')}" th:errors="*{cityName}">Name Error</p>
        </div>

        <div class="form-group">
            <label>Country:</label>
            <select class="form-control" th:field="*{country}">
                <option th:each="p : ${countries}"
                        th:value="${p.countryName}"
                        th:text="${p.countryName}"></option>
                <p th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Name Error</p>
            </select>
        </div>

        <div class="form-group">
            <label>City Acreage</label>
            <input type="text" th:field="*{cityAcreage}" class="form-control">
            <p th:if="${#fields.hasErrors('cityAcreage')}" th:errors="*{cityAcreage}">Name Error</p>
        </div>
        <div>
            <label class="form-group">City Population</label>
            <input type="text" th:field="*{cityPopulation}" class="form-control">
            <p th:if="${#fields.hasErrors('cityPopulation')}" th:errors="*{cityPopulation}">Name Error</p>
        </div>
        <div>
            <label class="form-group">GDP</label>
            <input type="text" th:field="*{GDP}" class="form-control">
            <p th:if="${#fields.hasErrors('GDP')}" th:errors="*{GDP}">Name Error</p>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" th:field="*{description}" class="form-control">
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</p>
        </div>
        <input type="submit" value="Edit City" class="btn btn-outline-primary">
        <button type="button" class="btn btn-outline-light">
            <a href="/list">Back City List</a></button>
    </form>
</div>
</body>
</html>